
.post-item {
  margin: 50px auto;
  width: 80%;
  height: 300px;
  box-shadow: 10px 10px 15px lightgrey;
}


@keyframes rotate-loading {
  to { transform: rotate(360deg); } 
}

.post-loading {
  display: none;
}

.post-loading .circle {
  margin: 50px auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid rgb(224, 224, 224);
  border-top-color: royalblue;
  animation: rotate-loading 1s ease-in-out infinite;
}